# node
node_modules

# built assets
themes/nathanv.me/static/assets/css
themes/nathanv.me/static/assets/js

# built site
public/
dist/
.hugo_build.lock

# parcel cache
.parcel-cache/
.cache/

# misc
todo.txt