@import "variables";

@import "font";
@import "buttons";
@import "form";

@import "header";
@import "menu";
@import "logo";
@import "main";
@import "post";
@import "pagination";
@import "footer";

@import "section";
@import "flexgrid";

// @import "prism";
// @import "syntax";
// @import "code";
// @import "terms";
// @import "gist";

// allow the site to be wider
.container {
    max-width: 1200px;
}

// center the footer
.footer__inner {
    margin: auto;
}

// add logos to the post title
.post-title img {
    display: inline-block;
    margin-bottom: -5px;

    // hide logos on small screens
    @media ($phone) {
        display: none;
    }
}

// hide an element
.hidden {
    display: none;
}

// when hidden element is active in lightbox, unhide it
.hidden.fslightbox-source {
    display: block;
}

// hide anchor hover elements on touch devices
@media (hover: none) {
    .hanchor {
      display: none;
    }
  }

// allow websites to be broken to fit
.post-website {
    overflow-wrap: break-word;
}